p,ul,ol,h2,h3 {
    font-family: sans-serif;
}

.chio {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 49em;
}
.maldekstre {
    position: absolute;
    left: 0;
    width: 12em;
    padding: 0.5em;
}
.dekstre {
    position: absolute;
    right: 0;
    width: 35em;
    text-align: justify;
    padding: 0.5em;
}
.priskribo {
    background-color: #ccc;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    -moz-border-radius: 1em;
    -webkit-border-radius: 1em;
    border-radius: 1em;
}
.priskribo h2 {
    padding-top: 0.2em;
}
.malsupre {
    padding-bottom: 0.5em;
}

.titolo h1 {
    text-align: right;
    font-family: Serif;
    font-size: 400%;
    font-family: "Hoefler Text", serif;
    font-style: italic;
    margin: 0;
}
.titolo h2 {
    text-align: right;
    font-family: Serif;
    font-size: 150%;
    font-family: "Hoefler Text", serif;
    font-style: italic;
    color: gray;
    margin: 0;
}
.titolo a {
    color: black;
}
.titolo a:hover {
    text-decoration: none;
}

.maldekstre ul {
    list-style-type: none;
    text-align: right;
    padding-left: 0;
}
.maldekstre li {
    padding-bottom: 0.5em;
}

a {
    color: green;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}